---
# Server Timzone + Locale
timezone: Europe/Berlin
locale: en_US.UTF-8

# Swap
# Uncommend here and in /roles/common/tasks/main.yml
swap_enabled: false
swap_file_path: /swapfile
swap_file_size_kb: 1024

# General settings
deploy_dir: /home/deploy/
deploy_user: deploy
deploy_password: YOUR_PASSWORD
deploy_app_name: YOUR_APP_NAME
deploy_server_hostname: YOUR_HOSTNAME
shared_dirs:
  - releases
  - repo
  - shared
  - shared/config
  - shared/log
  - shared/public
  - shared/tmp

redis_connection_url: 'redis://:password@host:6379/0'

# Nginx
nginx_https_enabled: false

# Certbot
certbot_url: https://dl.eff.org/certbot-auto
certbot_dir: /opt/certbot
certbot_email: YOUR_EMAIL

# Authorized Hosts
# This copies your local public key to the remote machine
# for passwordless login. Modify this!
ssh_public_key_files:
  - /home/YOUR_USERNAME/.ssh/id_rsa.pub

# Ruby
ruby_install_version: 0.6.1
chruby_version: 0.3.9
ruby_version: 2.5.3

# Rails
rails_secret_key_base: YOUR_SECRET_KEY
puma_workers: 1
puma_threads: 4,16

# Elasticsearch
elasticsearch_version: 2.3.1

# Monit
monit_sidekiq_enabled: true


# Basic settings
postgresql_version: 9.6
postgresql_encoding: "UTF-8"
postgresql_locale: "en_US.UTF-8"
postgresql_ctype: "en_US.UTF-8"

postgresql_admin_user: "postgres"
postgresql_default_auth_method: "trust"

postgresql_service_enabled: true # should the service be enabled, default is true

postgresql_cluster_name: "main"
postgresql_cluster_reset: false

# List of databases to be created (optional)
# Note: for more flexibility with extensions use the postgresql_database_extensions setting.
postgresql_databases:
  - name: YOUR_APP_NAME
    owner: YOUR_APP_NAME          # optional; specify the owner of the database
    hstore: yes         # flag to install the hstore extension on this database (yes/no)
    uuid_ossp: yes      # flag to install the uuid-ossp extension on this database (yes/no)
    citext: yes         # flag to install the citext extension on this database (yes/no)
    encoding: "UTF-8"   # override global {{ postgresql_encoding }} variable per database
    lc_collate: "en_US.UTF-8"   # override global {{ postgresql_locale }} variable per database
    lc_ctype: "en_US.UTF-8"     # override global {{ postgresql_ctype }} variable per database

# List of database extensions to be created (optional)
# postgresql_database_extensions:
#   - db: foobar
#     extensions:
#       - hstore
#       - citext

# List of users to be created (optional)
psql_app_db_password: "1ae8e6f27d10f03c63ba8ffe03992c93e04"
psql_app_db_host: "192.168.0.1"

postgresql_users:
  - name: YOUR_APP_NAME
    pass: YOUR_DB_PASS
    encrypted: no       # denotes if the password is already encrypted.

# List of schemas to be created (optional)
# postgresql_schemas:
#   - database: foobar           # database name
#     schema: acme               # schema name
#     state: present
#
#   - database: foobar           # database name
#     schema: acme_baz           # schema name
#     owner: baz                 # owner name
#     state: present

# List of user privileges to be applied (optional)
postgresql_user_privileges:
  - name: YOUR_APP_NAME                   # user name
    db: YOUR_APP_NAME                  # database
    priv: "ALL"                 # privilege string format: example: INSERT,UPDATE/table:SELECT/anothertable:ALL
    role_attr_flags: "CREATEDB" # role attribute flags